.select::before {
  color: #fff;
}
.ContainerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1176px) {
  .ContainerCenter {
    justify-content: flex-start;
  }
}
.IMaskInput {
  background: none;
  border-bottom: 2px solid black;
  color: #fff;
  border: none;
}
.backgroundBodyReserve {
  background-size: 95% 100% !important;
}
/*! style Select  */
select,
select:focus,
select:active,
option,
option:focus,
option:active {
  outline: none;
}
select {
  position: relative;
}
select:after {
  width: 14px;
  height: 8px;
  position: absolute;
  background: black;
}
.SelectReserveSelectRow {
  display: flex;
  background: none;
}
@media (max-width: 1176px) {
  .SelectReserveSelectRow {
    display: block;
  }
}

.ReserveOption {
  border: none;
  background: none;
  font-size: 23px;
  color: #fff;
  font-family: "Lato";
  font-size: 33.186px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.titleReservePages {
  font-size: calc(40px + 30 * ((100vw - 320px) / (1920 - 320)));
  text-align: center;
  font-weight: 600;
  font-family: "Lato";
  margin: 0 0 65px 0;
}
.deliver__pages__title {
  margin: 30px 0 0 0;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: white !important;
}
